
/* mobile (375px <=)*/
.sign-up-form-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 100%); /* White */
}

@media (width > 800px){
    .sign-up-form-card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        background-color: hsl(0, 0%, 100%); /* White */
        max-width: 930px;
        border-radius: 32px;
        padding: 24px;
        margin-inline: 1rem;
    }
}

.sign-up-form-content{
    display: flex;
    flex-direction: column;
    margin: 44px 24px;
    gap: 24px;
    order: 1;
    max-width: 375px;
}

@media (width > 800px){
    .sign-up-form-content{
        display: flex;
        flex-direction: column;
        margin: 44px 24px;
        gap: 24px;
        order: 0;
    }
}

.key-points-list{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.key-points-list div{
    display: flex;
    gap: 1rem;
}

.key-points-list div img{
    padding-bottom: 1rem;
}

.email-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.email-container{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.email-titles{
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
}

.sign-up-form-image {
    display: flex;
    align-items: center;
}

.sign-up-form-image picture img{
    max-width: 100%;
    object-fit: contain;
}